---
http_interactions:
- request:
    method: get
    uri: https://support-test.wu.ac.at/rest/api/2/customFields?search=Additional%20information%20media%20equipment%20for%20events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH DATA>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Arequestid:
      - 1131x12507x1
      X-Asen:
      - SEN-11751636
      X-Seraph-Loginreason:
      - OK
      X-Asessionid:
      - 19bovoy
      X-Ausername:
      - admin
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"maxResults":50,"startAt":0,"total":1,"isLast":true,"values":[{"id":"customfield_12103","name":"Additional
        information media equipment for events","description":"WU: Additional information
        media equipment for events","type":"Checkboxes","searcherKey":"Additional
        information media equipment for events","self":"https://support-test.wu.ac.at/rest/api/2/customFields/customfield_12103","numericId":12103,"isLocked":false,"isManaged":false,"isAllProjects":true,"projectsCount":0,"screensCount":3}]}'
  recorded_at: Thu, 09 Apr 2020 16:51:42 GMT
recorded_with: VCR 5.1.0
