---
http_interactions:
- request:
    method: get
    uri: https://support-test.wu.ac.at/rest/api/2/customFields?search=Assembly%20time
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH DATA>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Arequestid:
      - 1156x12744x1
      X-Asen:
      - SEN-11751636
      X-Seraph-Loginreason:
      - OK
      X-Asessionid:
      - 1950qme
      X-Ausername:
      - admin
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"maxResults":50,"startAt":0,"total":1,"isLast":true,"values":[{"id":"customfield_10516","name":"Assembly
        time","description":"WU: Assembly time (Events)","type":"Date Time Picker","searcherKey":"Assembly
        time","self":"https://support-test.wu.ac.at/rest/api/2/customFields/customfield_10516","numericId":10516,"isLocked":false,"isManaged":false,"isAllProjects":true,"projectsCount":0,"screensCount":3}]}'
  recorded_at: Thu, 09 Apr 2020 17:16:53 GMT
recorded_with: VCR 5.1.0
