---
http_interactions:
- request:
    method: get
    uri: https://support-test.wu.ac.at/rest/api/2/customFields?search=ROM%20day%20of%20shooting
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH DATA>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Arequestid:
      - 1159x12920x1
      X-Asen:
      - SEN-11751636
      X-Seraph-Loginreason:
      - OK
      X-Asessionid:
      - 1vi9fmz
      X-Ausername:
      - admin
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"maxResults":50,"startAt":0,"total":2,"isLast":true,"values":[{"id":"customfield_13708","name":"ROM
        day of shooting","type":"Date Picker","searcherKey":"ROM day of shooting","self":"https://support-test.wu.ac.at/rest/api/2/customFields/customfield_13708","numericId":13708,"isLocked":false,"isManaged":false,"isAllProjects":true,"projectsCount":0,"screensCount":6},{"id":"customfield_13709","name":"ROM
        day of shooting (spare)","type":"Date Picker","searcherKey":"ROM day of shooting
        (spare)","self":"https://support-test.wu.ac.at/rest/api/2/customFields/customfield_13709","numericId":13709,"isLocked":false,"isManaged":false,"isAllProjects":true,"projectsCount":0,"screensCount":6}]}'
  recorded_at: Thu, 09 Apr 2020 17:19:15 GMT
recorded_with: VCR 5.1.0
