---
http_interactions:
- request:
    method: get
    uri: https://support-test.wu.ac.at/rest/api/2/customFields?search=Video%20conferencing%20system
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH DATA>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Arequestid:
      - 1121x12430x1
      X-Asen:
      - SEN-11751636
      X-Seraph-Loginreason:
      - OK
      X-Asessionid:
      - 134fmpr
      X-Ausername:
      - admin
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"maxResults":50,"startAt":0,"total":1,"isLast":true,"values":[{"id":"customfield_10508","name":"Video
        conferencing system","description":"WU: Video conferencing system","type":"Select
        List (single choice)","searcherKey":"Video conferencing system","self":"https://support-test.wu.ac.at/rest/api/2/customFields/customfield_10508","numericId":10508,"isLocked":false,"isManaged":false,"isAllProjects":true,"projectsCount":0,"screensCount":6}]}'
  recorded_at: Thu, 09 Apr 2020 16:41:57 GMT
recorded_with: VCR 5.1.0
