---
http_interactions:
- request:
    method: get
    uri: https://support-test.wu.ac.at/rest/api/2/customFields?search=Duration
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH DATA>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Arequestid:
      - 1121x12426x1
      X-Asen:
      - SEN-11751636
      X-Seraph-Loginreason:
      - OK
      X-Asessionid:
      - liumuh
      X-Ausername:
      - admin
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"maxResults":50,"startAt":0,"total":2,"isLast":true,"values":[{"id":"customfield_10510","name":"Duration","description":"WU:
        Duration (events)","type":"Text Field (single line)","searcherKey":"Duration","self":"https://support-test.wu.ac.at/rest/api/2/customFields/customfield_10510","numericId":10510,"isLocked":false,"isManaged":false,"isAllProjects":true,"projectsCount":0,"screensCount":3},{"id":"customfield_13706","name":"Event
        Duration","type":"Select List (single choice)","searcherKey":"Event Duration","self":"https://support-test.wu.ac.at/rest/api/2/customFields/customfield_13706","numericId":13706,"isLocked":false,"isManaged":false,"isAllProjects":true,"projectsCount":0,"screensCount":6}]}'
  recorded_at: Thu, 09 Apr 2020 16:41:43 GMT
recorded_with: VCR 5.1.0
