---
http_interactions:
- request:
    method: get
    uri: https://support-test.wu.ac.at/rest/api/2/customFields?search=Surname
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH DATA>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Arequestid:
      - 1110x12273x1
      X-Asen:
      - SEN-11751636
      X-Seraph-Loginreason:
      - OK
      X-Asessionid:
      - 5c6l7o
      X-Ausername:
      - admin
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"maxResults":50,"startAt":0,"total":1,"isLast":true,"values":[{"id":"customfield_10530","name":"Surname","description":"WU:
        Surname","type":"Text Field (single line)","searcherKey":"Surname","self":"https://support-test.wu.ac.at/rest/api/2/customFields/customfield_10530","numericId":10530,"isLocked":false,"isManaged":false,"isAllProjects":true,"projectsCount":0,"screensCount":13}]}'
  recorded_at: Thu, 09 Apr 2020 16:30:27 GMT
recorded_with: VCR 5.1.0
