---
http_interactions:
- request:
    method: get
    uri: https://support-test.wu.ac.at/rest/api/2/issue/TEST-1/transitions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH DATA>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Arequestid:
      - 1251x14326x1
      X-Asen:
      - SEN-11751636
      X-Seraph-Loginreason:
      - OK
      X-Asessionid:
      - iaze24
      X-Ausername:
      - admin
      X-Proxy-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"expand":"transitions","transitions":[{"id":"981","name":"Assign to
        me","to":{"self":"https://support-test.wu.ac.at/rest/api/2/status/3","description":"","iconUrl":"https://support-test.wu.ac.at/images/icons/statuses/inprogress.png","name":"In
        Progress","id":"3","statusCategory":{"self":"https://support-test.wu.ac.at/rest/api/2/statuscategory/4","id":4,"key":"indeterminate","colorName":"yellow","name":"In
        Progress"}}},{"id":"901","name":"Cancel","to":{"self":"https://support-test.wu.ac.at/rest/api/2/status/10004","description":"","iconUrl":"https://support-test.wu.ac.at/images/icons/status_generic.gif","name":"Cancelled","id":"10004","statusCategory":{"self":"https://support-test.wu.ac.at/rest/api/2/statuscategory/3","id":3,"key":"done","colorName":"green","name":"Done"}}},{"id":"1091","name":"On
        Hold","to":{"self":"https://support-test.wu.ac.at/rest/api/2/status/10201","description":"","iconUrl":"https://support-test.wu.ac.at/images/icons/statuses/generic.png","name":"On
        Hold","id":"10201","statusCategory":{"self":"https://support-test.wu.ac.at/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"blue-gray","name":"To
        Do"}}}]}'
  recorded_at: Thu, 09 Apr 2020 18:51:06 GMT
recorded_with: VCR 5.1.0
